body {
  font-family: Arial, sans-serif;
  background-color: #e5f0ea;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 10px 20px; /* Menos padding para o cabeçalho, ajustando a distância */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

h1 {
  color: #2b4c40;
  font-size: 24px;
}

nav {
  flex-grow: 1;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #2b4c40;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #c7d8c9;
  color: #ffffff;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}

.info-box {
  background-color: #fff;
  width: 22%;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  top: -20px;
  text-align: left;
}

.info-box h3 {
  margin-top: 10px;
  color: #2b4c40;
}

.info-box p {
  margin-top: 5px;
  color: #2b4c40;
}

.icon {
  width: 50px;
  height: auto;
  position: absolute;
  top: 15px;
  left: 20px;
}

.offers {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 30px;
}

.offer {
  flex: 1;
  text-align: center;
  position: relative;
}

.offer-content {
  margin-bottom: 20px;
}

.offer h2 {
  margin: 0;
  font-size: 40px;
  color: #2b4c40;
}

.offer p {
  margin: 5px 0 0;
  font-size: 18px;
  color: #555;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.offer:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  width: 1px;
  height: 30px;
  background-color: #2b4c40;
  transform: translateY(-50%);
}

.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 14px;
}
